.github-dashboard {
  overflow: scroll;
}

.github-dashboard .repo-list,
.github-dashboard .app-repo-list {
  height: auto;
}

.github-dashboard .repo-item,
.github-dashboard .app-repo-item {
  border: 1px solid #ccc !important;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  width: auto;
  position: relative;
}